  .one-notification-box{
 
    padding-left: 17px;
    padding: 3px 0px 4px 17px;
        border-bottom: 1px solid #0062cc26;
  }
  .status-text{
display: inline;
    color: #1c1515;
    font-weight: normal;
    margin-left: 16px;font-size:  15px;

  }
  .mark-read{
        color: #0062cc;
  }
  .clock1{ 
    width: 96px;
    display: inline;
    /* margin-left: 29% !important; */
    /* position: absolute; */
    margin-top: 17px;
    font-size: 11px;
    float: right;
    margin-right: 37px;
    /* background: red; */
    color: #9da1a5;
    padding-left: 4px;
}
.not-head{
      font-size: 18px;
    color: #585050;
}