  body{
   background: none !important;
    padding: 0 !important;
    color: #0000008a;
  }
  input:focus,a:focus{
outline: none!important;
box-shadow: none;
  }
  a{
    color:#043859;
  }
      *{
   font-family: lato!important;
    
      }
.back-color{
  background: #eeeeee;
}
  .thread-box .row h1, h2, h3, h4, h5, h6, p{
    margin: 1 !important;
  }
  .top_banner{
    background-image: url(../img/index-background.jpeg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh
  }
  .title_ongoing{
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
  
  .center{
    text-align: center;
    
   } 
     .center1{
   text-align: center;
    font-size: 12px;
   } 
   .wrap{
  margin-top: 13%;
   }
   a{
    text-decoration: none;
   }
   .make{
        padding: 10px 20px 10px 20px;
    background: #ff8400;
    color: #fff;
    font-family: lato;
   }
   .make1{
    padding: 10px 30px 10px 30px;
    background: #ff8400;
    color: #fff;
    float: right;
    margin: 10px;
   }
   .setup{
    color: #fff;
    font-family: serif;
   }
a:hover{
	text-decoration: none !important;
}
.trans_color{
    background: #594c4c33;
    height: 100vh;
   }
 .center{
   	text-align: center;
   }
 .top_border{
 	border-top: 3px solid red;
 }  
 .content{
 	font-size: 16px;
 	font-size: 16px;
    text-align: center;
 }
 .margin_0{
 	margin:0 !important;
 }
 .btn_bottom{
 	  background: #f1f1f1;
    width: 169px;
    border: none;
    color: #0000008a;
    font-size:18px;
    padding: 8px;
   }
 .content_background{
 	background-image: url(../img/backgroundimage.png);
  background-repeat: no-repeat;
  background-size: 100% 110%;
 }
 .background_f{
 	background: #ffffff;
 }
 .bottom_padding{
 	margin-bottom: 30px;
 	padding-bottom: 30px;
 }
 .col-md-five{
   width: 20%;
   float: left;
 }
 .clear{
 	clear: both;
 }
 .what_eatnary{
 	background: #f5f2f2;
    margin: 10px;
    padding-top: 22px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
 }
 .eatnary_what{
   margin-top: -112px;
 }
 .top_margin{
 	margin-top: 30px !important;
 }
 .auto{
 	margin:auto;
 }
.red{
	color: red;
}
.footer{
	background: rgb(7,14,28);
	color: #fff;
	padding-top: 22px;
  padding-bottom: 22px;
}
.footer p{
font-size: 15px;
    padding: 5px;
}
.footer a{
font-size: 15px;
color: #fff;
}
.footer img{
    width: 66px;
    padding: 11px;
}
.footer-logo{
  width: 39px!important;
    padding: 0px!important;
}
.copyright-text{
  font-size: 13px!important;
}
.pointer{
	cursor: pointer;
}
/*testimonial css*/
 
  .carousel-control.right, .carousel-control.left {
         background: transparent  !important;
     color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid red !important;
    border-radius: 10px;
}

footer a:hover{
	color: red !important;
}
/*modal css*/
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: none !important;

}
@media (min-width: 1200px)
{
.container {
   width: 1000px;
}
}
.form_width{
   width: 48%;
   margin:auto;
   background: #eeeeee;
   padding-top:1px;
  padding-bottom: 1px;
   border-radius: 6px;
   margin-top: 9%;
}
.form_wrap{
  padding:43px;
  padding-bottom: 0;
  padding-top: 20px;
}
/*//modal css*/
  @media screen and (max-width: 768px) {
    .width_register{
  width: 98%;
  margin:auto;
}
    .form_width{
   width: 98%;
   margin:auto;
   background: #eeeeee;
   padding:10px;
   border-radius: 6px;
   margin-top: 15%;
    } 
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .col-md-five{
   width:100%;
   float: left;
 }
 .top_banner {
    background-image: url(../img/index-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 64vh;
}
.trans_color{
    background: #594c4c33;
    height: 64vh;
   }
    
  }
/*//testimonial css*/

.top_padding{
      padding-top: 23px;
}
.bottom_padding{
      padding-bottom: 25px;
}
.box_shadow{
  box-shadow:3px 3px 8px 0px #908686;
}
.below-header{
  min-height: 500px !important;
}
.bottom_margin{margin-bottom:25px}

/*head css*/
.bc_color{
  background: #0062cc;
}
/*//head css*/
.theme_color{
  color: #043859;
  text-transform: capitalize;
}
.img_width{
 width: 136px;
}
.bottom_border{
  border: none;
  border-bottom:1px solid #959494;
}
.bottom_margin{
  margin-bottom: 30px !important;
}
.bottom_border:focus{
  border-bottom: 1px solid #0062cc;
  outline: 0;
}
.submit_btn{
 background: #0062cc;
 width:110px;
 color: #ffffff;
 border: none;
 padding:8px;
 border-radius: 5px;
 font-size: 16px;
     word-spacing: 3px;

}

.line{
  background: #cdc7c7;
    width: 100%;
    height: 2px;
}
.header_menu li{
  list-style-type: none;
  float: left;
  margin-left: 20px;
}
.header_menu{
  float: right;

}

.nav-tabs {
    border-bottom: 0px solid #ddd !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    

    }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #8c8c8c;
    cursor: default;
    background-color: transparent;
    border-bottom: 2px solid #0062cc !important;
    border-bottom-color: transparent;
}    
.nav-tabs>li>a {
    margin-right: 2px;
    color: #1e1010;
    font-weight: normal;
    font-family: helvetica !important;
    line-height: 1.42857143;
    border: 0px solid transparent !important;
    border-radius: 4px 4px 0 0;
}
.menu{
      background: #eaeaea;
    color: blue;
}
.modal-title{
      font-weight: normal !important;
    color: #60a1e8;
    font-family: helvetica !important;
}
.width_register{
  width: 60%;
  margin:auto;
}
.img_round{
  border-radius: 50%;
    border: 1px solid #111;
    background: #111;
}
.wrap_payment{
    padding: 1px 2px 15px 19px;
    width: 100%;
    background: #fff;
  
}
.wrap_payment_pay{
    padding: 6px 2px 15px 19px;
    width: 82%;
    margin-left: 75px;
    background: #dfdfdf;
}
.wrap_payment_going{
padding: 5px 2px 15px 19px;
    width: 82%;
    
    background: #dfdfdf;;
    margin-left: 75px;
}
.posted{
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}
.paid{
    float: right;
    padding: 11px 10px 11px 17px;
    background: #4CAF50;
    color: #fff;
    font-size: 14px;
    border-radius: 19px 0px 0px 19px;

}

.chat{
    float: right;
    padding: 8px 9px 8px 12px;
    background: #ffffff;
    color: gray;
    font-size: 12px;
    box-shadow: 0px 3px 13px 0px grey;
}
.wrap_filter li{
  list-style-type: none;
  list-style-type: none;
    line-height: 28px;
    border-bottom: 1px solid #cecece;
        font-size: 15px;
}
.wrap_filter{
    background: #dfdfdf;
    padding: 6px 10px 11px 10px;
    width: 82%;
    margin-left: 75px;
}
.generate{
  position: absolute;
    bottom: 0px;
    right: 0;
    margin:0;
}
.location{
  font-size: 12px;margin-left:35px;
  position: absolute;
    left: -104px;
    top: 20px;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;border:none !important;
    text-align: center;
    background-color: white !important;

    border-radius: 4px;
}
.login_submit_btn {
    background: #ea4c3d;
    width: 71px;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    float: right;
}
.social_login_wrap{
      margin: 21px 21px 21px 21px;
      padding: 6px 0 6px 0;
}
.from_date{
      width: 48%;
    clear: both;
    display: inline;
}
.to_date{
  width: 48%;
  float: right;
}
.notification_bell{
  padding-top: 5px;
}
.posted_date{
    font-family: lato;
    font-style: normal;
    line-height: 33px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.register_wrap{
    margin-top: 100px;
    padding: 0px 185px 0px 185px;
    color: #565656;
}
form h4{
  margin-bottom: 7px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #050505;
    background-color: #f1f1f1;
    background-image: none;
    border: 1px solid #959494;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}
.col-md-3 .btn_bottom:hover{
  background: #0062cc;
    color: #fff;
}
.search_text {
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
        border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

input[type="date"]{
      margin-bottom: 22px;
}
.image-box{
    background: rgba(56, 70, 79, 0.77);
    color: #e8e3e3;
    height: 319px;
    margin-top: -5px;
    padding-top: 60px;
}
.image-box>ul>li>img{
      border: 3px solid #efefef;
}
.profile-box{
    background:rgb(204,204,204);
    height:331px;
}
.online-icon{
    background: #4e9e33;
    width:11px;margin-left: 32px;
    height:11px;display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
}

.image-stats{
     height: 200px;

   padding: 12% 22%;
}

ul.job-stats
{
    font-size: 13px;
        line-height: 26px;
    padding: 8px;
    width: 297px;
    background: #5a646b;
    text-align: left;
    font-size: 17px;

}
.profile-about{
    margin-top:30px;
}
.profile-details{
      padding: 14% 0%!important;
}
p.about{
font-size: 17px;
    text-align: justify;
    padding-top: 17px;
}
h3.about{
    text-align: left;
    color: #0062cc;
    font-size: 24px;
}


.review-box{
    display: inline-flex;
}
.modal-input{
       display: -webkit-inline-box;
    width: 269px;
    height: 32px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
}
ul{
      list-style: none !important;
}


.modal-body{
      background: white !important;
}
.header-bell{
    margin-left: -4px;
    width: 27px;
    margin-top: -2px;
    cursor: pointer;
}
.desktop-header{
      padding: 10px 10px 5px 10px;
      position:fixed;
      width:100%;
      z-index: 111;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
}
td,th{
      font-size: 14px;
    font-weight: 500;
}
.p_0{
  padding: 0px;
}
.profile-wrap{
      display: inline-block;
}
.seeker-name{
  line-height: 20px;
    font-size: 15px;
    font-weight: 800;
}
.clock_r{
  float: right;
  margin-right: 10px;
}
.signin-header{
    padding: 7px;
    border-bottom: 1px solid #b9b7b7;
    margin-top: 13px;
}
.signin-header img{
  width:130px;
}
#email,#password,#email:focus,#password:focus{
border:none;
background: #fff;
box-shadow: none;
}
