.verify-btn{
background-color: #0062cc;
    /* width: 39%; */
    padding: 12px 34px;
    border: none;
color: white
}

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color:grey;
}

textarea{
  resize: none
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}


ul.job-details{
      margin-top: 28px;
    line-height: 25px;
}
.gap-top{
      margin-top: 30px;

}
.gap-top-padding{
      margin-top:80px;

}
.large-italic
{
      font-size: 20px;

    font-style: italic;
}

.white{
  color: white
}
.theme-btn{
  color: #1976d2;    margin-top: 21px;
    border-color: #1976d2;
}
.capital{
  text-transform: capitalize;
}
.theme1{
  color:#1976d2;
}
.theme-background{
background: #1976d2 !important;color: white !important;
}
.same-line{    margin-right: 5%;
  display: inline-block;
}

.trans-form{      
    margin: 0px auto;width: 80%;
    padding: 20px;
    border: 1px solid #B0C4DE;
    border-radius: 0px 0px 10px 10px;}
.sidenav{

      background: white;
    font-size: 16px;
}

.input-group{
  width: 80%;
  margin: auto;
}



.red{
  color: red;margin-left: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 19px;
    text-transform: capitalize;
}

.navbar-default{
   background: url(img/background.png);
    width: 100%;height:66px;
}

.search-text{
      width: 237px;
    height: 34px;
    border: none;
    text-align: center;
}

.notification-icon{
  margin-right:7%;width: 36px;
  margin-top: 12px;float: right;
}
.notification-icon>img{
 width: 36px;
  
}
.search-btn{
      background: transparent;
    border: 2px solid white;
    padding: 8px 20px !important;
    margin-top: 11px;
}

.chat-header{
       width: 100%;
    height: 68px;
    text-align: center;
    color: #1a76d2;
    font-weight: bold;
    font-size: 19px;
    padding-top: 17px;
}
}
.desc{
      color: grey;
    font-size: 15px;
    margin-top: 17px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border:none !important;
    border-top: none !important;
}
#msg_id{
  height: 100%;
  width: 100%;
  border: none;
}
#messenger-chat{
   width: 370px;display: none1;
    height: 410px;
    position: fixed;
    background: ghostwhite;
    z-index: 33333333333333333333333;
    /* margin-top: -297px; */
    bottom: 10px;
    margin-left: 49%;
}

  .chat-logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #9a9fa4;

}

.chat-time{
      color: #1a76d2;
    float: right;
    margin-right: -10%;
}

.caht-ul{    margin-top: 25px
      height: 157px;
    position: relative;
}
.chat-content{
      width: 68%;
    height: auto;
    position: absolute;
    text-align: justify;
}
#chat_container{
  padding-left: 7%;
    padding-right: 7%;
}




.one-full-msg{
      padding-bottom: 30px;
    padding-top: 18px;
}

.login-btn{
     padding: 10px;
    font-size: 15px;
    color: black;
    background: #f7ffff;
    border: none;
    border-radius: 5px;
    width: 238px;
}

.black-input{
      background: #00000063;
    color: white;
}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0;
    border: #dbdbdc 2px solid;
    text-transform: capitalize;
    color: #1976d2;
}

.nav-pills>li>a {
    border-radius: 4px;
    color: #a4a4a4;
    font-style: italic;
}


.thread-box{
      background: #8080802b;
    padding: 12px 29px 0px;
    margin-bottom: 20px;
    width: 60% !important;
}

.btn{
      padding: 9px 30px;
}
.profile-pic{
      border-radius: 50%;
    width: 60px;
}

.chat-now-btn{
    background: #fff;
    color: #0062cc !important;
    box-shadow: 0px 0px 10px 2px grey;
    font-weight: 600;
    margin-top: -29px;
    padding: 7px;

}
.chat-now-btn:hover{
    background: #0062cc;
    color: #fff !important;
    box-shadow: 0px 0px 0px 0px grey;
    font-weight: 600;

}

.accept-now-btn{
  color: white !important;
    background: #198e37;
}

.reject-now-btn{
    color: white;
    background: #565656;
}
#typing-notify{
    padding-left: 17%;
    height: 18px;
    width: 100%;
    padding-top: 1px;
}
.online-icon{
    background: #4e9e33;
    width:11px;
    height:11px;display: inline-block;
    border-radius: 50%;
}
.search-result{
    position: fixed;
    width: 243px;display: none;
    height: 266px;
    border: 1px solid grey;
    margin-left: 48%;
    margin-top: 56px;
    background: white;
    z-index: 222;
}
.white{
color: white !important;
}
#search-result-ul{
      padding-left: 13px;
      padding-top: 4px;                                     
}
.admin-tabs{
  position: fixed;
    margin-top:54px;
    width: 100%;
    padding-left: 22%;
    background: white;
    z-index: 11;
}
.search-result-img{
width: 53px;
border-radius: 50%;
}

#notification-pop-div{
    position: fixed;display: none;
    width: 272px;
    width: 272px;

    height: 266px;
    border: 1px solid grey;
    margin-left: 56%;
    margin-top: 56px;
    background: white;
    z-index: 222;

}

.notification-header{
       width: 100%;
    height: 22px;
    padding-left: 16px;
    position: absolute;
    top: 0px;
    padding-top: 6px;

}

.notification-footer{
    width: 100%;
    height: 28px;
    position: absolute;
    margin-top: -23px;
    background: #0062cc;
    color: white !important;
    padding-left: 24px;
    padding-top: 4px;

}
#notification-pop-ul{  margin-top: 21px;
    padding-left: 13px;
    padding-top: 4px;
    height: 238px;
    overflow-y: scroll;                                   
}
#notification-pop-ul>li>span{
width: 209px;
    margin-left: 6px;
    text-align: justify;
    color: #828992;
}
.read-text{    color: #5595db !important;}
#notification-pop-ul>li{
color: #d0d0d0;
    border-bottom: 1px solid #c7bcbc;
    padding-bottom: 12px;
}

  
  #unread_bubble{
    background: #f42d2d;
    border-radius: 50%;
    width: 25px;
    padding: 4px;
    color: white !important;
    margin-top: -27px;
    z-index: 2223;
    margin-left: 19px;
  }

  .below-header{
    padding-top:80px; 
  }
  #search_text{
      border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
  }
  #search_text:focus{
    box-shadow: none !important;
  }


  .company-question-text{
        color: #E91E63 !important;
    font-size: 18px;
    font-family: helvetica;
  }

.img-round{

  border-radius: 50%;
  width: 45px;
  height: 45px;
}



  .user-answer-text{    font-size: 14px;}

  .verify-btn{
    background: #0062cc;
    color: white;
    padding: 1px 5px;
    display: inline-block
  }

  .open>.dropdown-menu {
    display: block;
    background:white;
    padding-top: 38px;
}