  .one-notification-box{
       background: #0062cc1a;
    padding-left: 17px;
    padding: 3px 0px 4px 17px;
        border-bottom: 1px solid #0062cc26;
  }
  .status-text{
    display: inline;color:black;
  }
  .mark-read{
        color: #0062cc;
  }
  .clock1{ 

    width: 96px;
    display: inline;
    /* margin-left: 29% !important; */
    /* position: absolute; */
    margin-top: 17px;
    font-size: 11px;
    float: right;
    margin-right: 37px;
    /* background: red; */
    color: #f42d2d;
    padding-left: 4px;
}
.not-head{
      font-size: 18px;
    color: #585050;
}