* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
textarea{resize: none}
form, .content {

  margin: 0px auto;
  padding: 20px;

  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input,textarea {
  height: 30px;height: 47px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

  
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #1976d2;
    cursor: default;border:none;
    /* background-color: #1976d2; */
    /* border: 1px solid #ddd; */
    border-bottom: #1976d2 2px solid;
}
a{
  color: black;
}

ul.job-details{
      margin-top: 28px;
    line-height: 25px;
}
.gap-top{
      margin-top: 30px;

}
.large-italic
{
      font-size: 20px;

    font-style: italic;
}

.white{
  color: white
}
.theme-btn{
  color: #1976d2;
    background-color: #ffffff;
    border-color: #1976d2;
}
.theme1{
  color:#1976d2;
}
.theme-background{
background: #1976d2;
}
.same-line{    margin-right: 5%;
  display: inline-block;
}

.trans-form{      
    margin: 0px auto;width: 80%;
    padding: 20px;
    border: 1px solid #B0C4DE;
    border-radius: 0px 0px 10px 10px;}
.sidenav{

      background: white;
    font-size: 16px;
}

.input-group{
  width: 80%;
}

label{
  color: white !important;
  margin-top: 30px;
}



.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 19px;
    text-transform: capitalize;
}

.navbar-default{
   background: url(../img/background.png);
    width: 100%;height:66px;
}

.search-text{
      width: 237px;
    height: 34px;
    border: none;
    text-align: center;
}

.notification-icon{
  margin-right:7%;width: 36px;
  margin-top: 12px;float: right;
}
.notification-icon>img{
 width: 36px;
  
}
.search-btn{
      background: transparent;
    border: 2px solid white;
    padding: 8px 20px !important;
    margin-top: 11px;
}

.chat-header{
       width: 100%;
    height: 68px;
    text-align: center;
    color: #1a76d2;
    font-weight: bold;
    font-size: 19px;
    padding-top: 17px;
}
}
.desc{
      color: grey;
    font-size: 15px;
    margin-top: 17px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border:none !important;
    border-top: none !important;
}


  .chat-logo{
width: 56px;
    height: 56px;
    border: 2px solid #9a9fa4;
    border-radius: 50%;
}

.chat-time{
    color: #1a76d2;
    float: right;
    margin-right: 5%;
}

.caht-ul{    margin-top: 25px
      height: 157px;
    position: relative;
}
.chat-content{
    height: auto;
    line-height: 14px;
    margin-right: 3%;
    float: left;
    /* position: absolute; */
    margin-left: 21%;

        background: #e6e6e6;
    padding: 3%;

}
#chat_container{
  padding-left: 7%;
    padding-right: 7%;
}

.fixed-bottom-chat{
    width: 88%;
    margin-left: 5%;
    padding-left: 6%;
    min-width: 272px;
    padding-right: 6%;
    position: fixed;
    margin-top: 3px;
    bottom: 0px;
    padding-top: 15px;
    background: #ffffffb3;
}
#msg_id{
  height: 100%;
  width: 100%;
  border: none;
}
#messenger-chat{
   width: 370px;display: none;
    height: 410px;
    position: fixed;
    background: ghostwhite;
    z-index: 33333333333333333333333;
    /* margin-top: -297px; */
    bottom: 10px;
    margin-left: 49%;
}
.btn-chat{
      width: 113px;
    padding: 4px;
    font-size: 12px;background: #1976d2;
}
.chat-textbar{
    height: 47px;
    width: 67%;
    resize: none;
    margin-left: 11%;font-size: 12px;
    border: 2px solid #1a76d2;
}

.post-btn{
color: #6f6e6e !important;
    /* padding: 4px 20px; */
    font-size: 14px;
    font-family: helvetica;
    /* font-weight: bold; */
    text-decoration: none !important;




}


.one-full-msg{
    padding-bottom: 21px;
    padding-top: 18px;
    height: auto;
}

.login-btn{
     padding: 10px;
    font-size: 15px;
    color: black;
    background: #f7ffff;
    border: none;
    border-radius: 5px;
    width: 238px;
}



.black-input{
      background: #00000063;
    color: white;
}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0;
    border: #dbdbdc 2px solid;
    text-transform: capitalize;
    color: #1976d2;
}

.nav-pills>li>a {
    border-radius: 4px;
    color: #a4a4a4;
    font-style: italic;
}

#new_msg{
width: 55px;
    height: 49px;
    position: absolute;
    margin-top: -55px;
    margin-left: -37px;
}

#new_chat_count {
    border-radius: 50%;
    background: #ffb748;
    width: 30px;
    height: 30px;
    color: white;
    padding: 7px;
    float: right;
    margin-right: 2px;

}

#typing-notify{
      background: #fdfdff;
    padding-left: 17%;
    height: 26px;
    width: 100%;
}
.online-icon{
    background: #4e9e33;
    width:11px;
    height:11px;display: inline-block;
    border-radius: 50%;
}

h6.company-title{
      font-size: 15px;
    font-weight: bold;
}


::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color:grey;
}


#msg-close-btn{
    margin-right: 20px;
    color: #c2c2c3;
    font-family: cursive;
    margin-top: 9px;
    position: absolute;
    z-index: 2222222222;
    margin-left: 91%;
}
.chat-content {
    height: auto;
    line-height: 14px;
    margin-right: 3%;
    float: left;
    /* position: absolute; */
    margin-left: 21%;
    background: #e6e6e6;
    padding: 3%;
}

.chat-logo {
    width: 56px;
    height: 56px;
    border: 2px solid #9a9fa4;
    border-radius: 50%;
}